@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --accent-color: yellow;
    --base-color: white;
    --text-color: black;
    --input-color: white;
    --label-color: lightyellow;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins, Segoe UI, sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body {
    min-height: 100vh;
    background-image: url(pexels-namakuki-751373.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.wrapper {
    box-sizing: border-box;
    background-color: var(--base-color);
    height: 100vh;
    width: max(40px, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--text-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover {
    border-color: var(--accent-color);
}

form input:focus {
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus) > label {
    background-color: var(--label-color);
}

form input::placeholder {
    color: var(--text-color);
    opacity: 1;
}

form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 0.85em 4em;
    background-color: var(--accent-color);
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: 150ms ease;
}

form button:hover {
    background-color: var(--base-color);
}

form button:focus {
    outline: none;
    background-color: var(--base-color);
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

@media(max-width: 1100px) {
    .wrapper {
        width: min(600px, 100%);
        border-radius: 0;
    }
}

form div.incorrect label {
    background-color: red;
    fill: white;
}

form div.incorrect input {
    border-color: red;
}

#error-message {
    background-color: red;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px 10px 10px 10px;
}